  <head th:fragment="head">
            <!-- tab icon -->
            <link rel="icon" type="image/png" href="websiteLogoGold.png"> 

            <!-- tab name -->
            <title>Gwantana Kiboigo</title> 

            <!-- Imported font: 'Bungee' -->
            <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">

            <!-- Imported font: 'FontAwesome' -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

            <!-- Imported font: Google Symbols Rounded -->
            <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@0..1&display=swap" rel="stylesheet" />


            <!-- css styling shit -->
            <link rel="stylesheet" href="style.css">
  </head>